@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.navigation{
    position:relative;
    width: min-content;
    height: min-content;
}

.navigation ul{
    display: flex;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 30px;
}

.navigation ul li.active a .icon{
    font-size: 20px;
    transform: translateY(-6px);
}

.navigation ul li a .text{
    position: absolute;
    font-size: 20px;
    color: white;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);   
}

.navigation ul li:hover a .text{
    transform: scale(1);
}

.indicator {
    position: absolute;
    left : 0;
    width: 70px;
    height: 70px;
    background-color: #f00;
    border-radius: 10px;
    transition: 0.5s;
}

.indicator1 {
    position: absolute;
    left : 0;
    width: 70px;
    height: 70px;
    background-color: #5d62fb;
    border-radius: 10px;
    transition: 0.5s;
}

.indicator2 {
    position: absolute;
    left : 0;
    width: 70px;
    height: 70px;
    background-color: #05c46b;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator1{
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator2{
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateX(calc(70px * 2));
}